// index.scss
// jt6 20141118 WTSI
//
// rules for the index page

@import "flatly/variables";

.jumbotron {
  padding: 50px 0 0 0;
}

.content {
  margin-bottom: 30px;
}

.db-logo {
  margin-top: 10px;
}

@media ( min-width: 768px ) {
  .breadcrumb {
    margin-top: 13.5px;
    margin-bottom: 13.5px;
  }
}

