// samples.scss
// jt6 20150529 WTSI
//
// rules for the samples page

@import "flatly/variables";

.DTTT_container {
  margin-bottom: 0 !important;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info {
  float: left;
  margin-right: 1em;
}

th.row-label,
td.row-label {
  width: 12em;
  font-weight: bold;
}
