
// site.scss
// jt6 20150218 WTSI
//
// rules that are applicable to the whole site

@import "flatly/variables";

$link-color: #1686ba; // rgba(22, 134, 186, 1);
$link-hover-color: darken($link-color, 20%);
$reverse-link-hover-color: darken(#FFF, 20%);

a {
  color: $link-color; // rgba(53, 115, 177, 1);

  &:hover, &:focus {
    color: $link-hover-color;
  }

  $icon-font-size: 0.6em;

  // add a FA icon to a link to denote a URL for an external site
  &.ext {
    position: relative;
    padding-right: $icon-font-size;

    &:before {
      position: absolute;
      font-family: FontAwesome;
      vertical-align: super;
      font-size: $icon-font-size;
      right: 0;
      content: "\f08e";
    }
  }

  // add a FA icon to a link to denote a URL that will trigger a download
  // (not sure how obvious that will be...)
  &.dl {
    position: relative;
    padding-right: $icon-font-size;

    &:before {
      position: absolute;
      font-family: FontAwesome;
      vertical-align: super;
      font-size: $icon-font-size;
      right: 0;
      content: "\f063";
    }
  }

  &.disabled {
    color: #BBB !important;
    cursor: not-allowed;
  }
}

.navbar {
  margin-bottom: 0;

  .navbar-brand {
    height: 78px;
    line-height: 32px;
    font-size: 28px;
  }

  a {
    &:hover, &:focus {
      color: $reverse-link-hover-color !important;
      text-decoration: underline;
    }
  }

  span.signed-in {
    color: #FFF;
    font-size: small;
    a {
      text-decoration: underline;
    }
  }

  // set up the breadcrumbs to match the dimensions of the sign-in button
  .breadcrumb {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px;
    line-height: 1.5;
    margin: 3.5px 0;
  }

  @media ( min-width: 768px ) {
    .breadcrumb {
      margin-top: 20px;
    }
  }

  #nav-tools.signed-in {
    margin-top: 8px;
  }

  #nav-tools {
    button {
      margin-top: 12px;
    }
    ol {
      font-size: 13px;
    }
    li > a {
      padding-bottom: 0px;
    }
  }

}

footer {
  background: $gray-lighter;
  color: lighten($brand-primary, 20%);
  font-size: smaller;
  margin-top: 0.4em;

  ul {
    list-style: none outside none;
    margin: 1em 0;
    padding: 0;
  }

  li {
    list-style: none outside none;
    display: inline-block;
    margin-left: 2em;
  }

  p {
    margin: 10px 0;;
  }

  p.support {
    float: right;
  }

  a.wt-link,
  a.dh-link {
    display: block;
  }
}

.partners {
  margin: 30px 0;
}

.partner {
  background-repeat: no-repeat;
  background-position: center top;
}

.partner-info {
  font-size: 12px;
}

.na {
  color: #AAA;
}

