
<section class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>
        Content for which login is required.
      </p>
    </div>
  </div>
</section>

