// index.scss
// jt6 20141118 WTSI
//
// rules for the index page

@import "flatly/variables";

.jumbotron {
  padding: 50px 0 0 0;
}

.content {
  margin-bottom: 30px;
}

.db-logo {
  background: url(../images/cpmv-320x380.png) no-repeat center top;
  height: 365px;
  margin-top: 10px;
}

.partners {
  margin: 30px 0;
}

.partner {
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 60px;
}

.partner-info {
  font-size: 12px;
}

.wtsi-cam { background-image: url(../images/logos/wtsi-cam-300x50.png) }
.ucl      { background-image: url(../images/logos/ucl-wtsi-300x50.png) }
.ox       { background-image: url(../images/logos/ox-phe-300x50.png) }

