
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.fa-1 {
  font-size: 20em;
}

.db-logo {
  background: url(../images/cpmv-300x300.png) no-repeat right top;
  height: 300px;
  margin-top: 20px;
}

.partners {
  margin-top: 30px;
}

.partner-info {
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 60px;
}

.wtsi-cam { background-image: url(../images/logos/wtsi-cam-300x50.png) }
.ucl      { background-image: url(../images/logos/ucl-logo-150x45.png) }
.ox       { background-image: url(../images/logos/oxford-150x46.png) }

