
// site.scss
// jt6 20111418 WTSI
//
// rules that are applicable to the whole site

@import "flatly/variables";

body {
  // if we're using a navbar, we need to move the content down to leave room for it
  padding-top: 60px;
  padding-bottom: 20px;
}

$link-color: #1686ba; // rgba(22, 134, 186, 1);

a {
  color: $link-color; // rgba(53, 115, 177, 1);

  &:hover, &:focus {
    color: darken($link-color, 20%);
  }

  // add a FA icon to a link to denote a URL for an external site
  $icon-font-size: 0.6em;

  &.ext {
    position: relative;
    padding-right: $icon-font-size;

    &:before {
      position: absolute;
      font-family: FontAwesome;
      vertical-align: super;
      font-size: $icon-font-size;
      right: 0;
      content: "\f08e";
    }
  }
}

.navbar .breadcrumb {
  margin: 7px 0;
}

@media ( min-width: 768px ) {
  .navbar .breadcrumb {
    float: left;
    margin: 16px 0;
  }
}

footer {
  background: $gray-lighter;
  color: lighten($brand-primary, 20%);
  font-size: smaller;

  ul {
    list-style: none outside none;
    margin: 1em 0;
    padding: 0;
  }

  li {
    list-style: none outside none;
    display: inline-block;
    margin-left: 2em;
  }

  p {
    margin: 10px 0;;
  }

  p.support {
    float: right;
  }

  a.wt-link {
    /* background: url(../images/supported-by-wt-113x30.png) no-repeat right bottom; */
    background: url(../images/wt-dh-200x50.png) no-repeat right bottom;
    height: 50px;
    width: 200px;
    display: block;
  }
}

