[%- contactUsURI = request.uri_for("/contact") %]

<section class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4 db-logo">
      </div>
      <div class="col-md-8">
        <h2>Microbial Diagnostics and<br>
          Surveillance (MiDaS)</h2>
        <p>
          Working to provide tools for the rapid comparison of <br>
          bacteria and virus genomes for diagnostic and public <br>
          health laboratories.
        </p>
        <p><a class="btn btn-primary btn-lg" href="[% contactUsURI %]" role="button">Contact us &raquo;</a></p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>
        This consortium aims to work together to develop a technological
        solution based on the comparison of bacteria and viruses by comparing
        the sequence of their entire genome. We aim to make this as
        straightforward as possible to perform, so that the technology can be
        introduced into diagnostic and public health laboratories across the
        UK, where it will provide information in real time on bacterial and
        viral spread and outbreaks in hospitals and the community.
      </p>
      <p>
        This website provides a central repository for the metadata concerning
        the bacterial and virus genomes sequenced and deposited by all members
        of the consortium.
      </p>
    </div>
  </div>
  <div class="row partners">
    <div class="col-md-4 partner partner-info wtsi-cam">
      <p>
        The partnership utilises whole genome sequencing of a number of
        important hospital/community acquired bacterial species to enable
        effective surveillance. This will be used to track disease trends,
        identify new infectious disease threats, detect serious outbreaks,
        monitor control measures and assess antibiotic resistance to enable the
        most effective treatment to be offered.
      </p>
    </div>
    <div class="col-md-4 partner partner-info ucl">
      <p>
        Infection Response through Virus Genomics (ICONIC) is a collaborative effort
        led by UCL and involving the Wellcome Trust Sanger Institute, UCLH, PHE, Barts
        Health, HCVRUK and the Universities of Edinburgh and Nottingham. ICONIC aims to
        utilise next generation sequencing technology, in order to (i) stratify therapy
        (HIV and Hepatitis C virus used as a case example), (ii) guide hospital
        infection control responses (Norovirus), and (iii) inform surveillance and
        epidemiological responses to community outbreaks (Measles and Influenza
        viruses). ICONIC will advance the capacity for embedding this new technology
        within the UK diagnostic environment, in a sustainable and cost effective
        manner. In so doing, we aim to embed into the NHS the ability to rapidly
        respond to new and emerging viral infections in the future.
      </p>
      <!--
      <p>
          Infection Response through Virus Genomics (ICONIC) aims to utilise
          next generation sequencing technology to stratify therapy, guide
          hospital infection control responses, and inform surveillance and
          epidemiological responses to community outbreaks. ICONIC will advance
          the capacity for embedding this new technology within the UK
          diagnostic environment, in a sustainable and cost effective manner.
          In so doing, we aim to embed into the NHS the ability to rapidly
          respond to new and emerging viral infections in the future.
      </p>
      -->
   </div>
    <div class="col-md-4 partner partner-info ox">
      <p>
        Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
        eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus.
      </p>
    </div>
  </div>
</section>

