
<footer>
  <div class="container">
    <p class="support"><a class="dh-link sprite-images-dh-77x50" href="https://www.gov.uk/government/organisations/department-of-health"></a></p>
    <p class="support"><a class="wt-link sprite-images-supported-by-wt-130x50" href="http://www.wellcome.ac.uk/"></a></p>
    <p>
      This site is hosted by the
      <a href="http://www.sanger.ac.uk/">Wellcome Trust Sanger Institute</a>
      under the WTSI
      <a href="http://www.sanger.ac.uk/legal/cookiespolicy.html">
        cookie policy</a> and
      <a href="http://www.sanger.ac.uk/legal/">
        terms & conditions</a>&nbsp;&middot;&nbsp;
      <a href="[% request.uri_for('/contact') %]">Contact us</a>
      <br>
      [%- IF vars.controller == "index" %]
      <small>
        Virus <a href="http://commons.wikimedia.org/wiki/File:CowpeaMosaicVirus3D.png">image</a>
        by <a href="http://commons.wikimedia.org/wiki/User:Splette">Thomas Splettstoesser</a>
        / <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a>
      </small>
      [%- END %]
    </p>
  </div>
</footer>

