
<footer>
  <div class="container">
    <ul>
      <li class="cr">&copy; Company 2014</li>
      <li><a href="#">Privacy policy</a></li>
      <li><a href="#">Cookie policy</a></li>
    </ul>
  </div>
</footer>

