
error_log   __CWD__/test_server/nginx_error.log;

worker_processes  1;

pid  __CWD__/test_server/nginx.pid;

events {
  worker_connections 256;
}

http {
  include  mime.types;
  default_type  application/octet-stream;
  access_log  __CWD__/test_server/nginx_access.log;

  server {
    root  __CWD__;
    server_name  0.0.0.0;
    listen  8001;

    # remove trailing slashes
    rewrite ^/(.*)/$ /$1 permanent;

    location / {
      try_files  $uri  /.tmp/$uri  /app/public/$uri   @backend;
    }

    location @backend {
      proxy_set_header Host $http_host;
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_pass http://127.0.0.1:8000;
    }
  }
}

